.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 150px;
  height: 150px;
  font-size: 60px;
}

.red { background: red; color: black; }
.blue { background: blue; color: black; }
.green { background: green; color: black; }
